body{
    background-color: #000;
}

.tableWrapper{
    width: 100%;  
    background-image: linear-gradient(to bottom right, #5e82dd, rgb(21, 62, 121), #19398a);
    background-size: cover;
    background-position: 100%;    
    border: 2px solid grey;    
    border-radius: 10px;
}

.table{
    
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* backdrop-filter: blur(80px); */
    /* border-radius: 18px; */
    /* mix-blend-mode: soft-light; */
    /* background-blend-mode: color-burn; */
    
}   

.table .tableHeaderRow{
    
}
